/* #FE9F00 */
body{
  background-image: url("assets/white_background.jpg") ;
  z-index: -1;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
}

.pageContainer{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrap{
  flex: 1;
}

  .buttonRadius{
    /* border-radius: 25px; */
  }
  .text-lg{
    font-size:larger !important;
  }
  .ui.menu:not(.vertical) .item {
    display: flex;
    align-items: end !important;
    font-size: 25px;
}
  .logoContainer{
display: flex;
flex-direction: column;
position: relative;
  }
  body{
    /* background-color: #b9b9b9 !important;
    z-index: 100; */
  }

.container{
  margin-left: 0px !important;
  /* display: flex; */
}
/* .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex; 
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between !important;
  text-align: center;
} */

.navbarImage {
  margin-left: 5%;
}

.navbarItems {
  margin-right: 5%;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}


.nav{
  color: black !important;
}
.msgScreen{
  width: fit-content;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 5rem auto;
 
}
.footer_section{
  /* margin-top: auto; */
}
.footer_sub{
  width: 96vw !important;
}
.ui.container{
  width: 96vw !important;
}
  .logoText{
position: absolute;
color: white;
bottom: 0px;
  }
  .HomeMainContainer{
    /* display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-auto-flow: dense;
    grid-gap: 20px;
    margin: 20px 28px; */
    
  }

  #homeHeader{
    margin-bottom: 18px;
  }

  .homepageTitle {
    font-size: 50px;
    margin-left: 3.5%;
  }

  .MainTile{
    background-color:#F7DFB8;
    width: 370px;
    margin: 3rem auto;
    padding: 15px;
    border: 3px black solid;
    border-radius: 10px;
  }

  #projectCard{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 30px;
    /* grid-auto-flow: dense; */
    /* grid-gap: 20px; */
    /* margin: 20px 20px; */
  }

  #projectCardTitle{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    transition: .3s ease
  }
  #projectCardTitle:hover{
    color: #FE9F00  
  }
  #projectCardDescription{
    font-size: 18px;
  }
  #projectCardFunding{
    font-size: 20px;
  }

  .logo{
    width: 120px !important;
  }
  .btn-fund-container{
    display: flex;
    justify-content: space-between;
  }
  .button {
    color: white;
    border-radius: 10px;
    padding: 0 5px;
    width: 10rem;
    height: 2.5rem;
    background-color: #FE9F00 !important;
   }
   .donate-btn{
    margin: 10px;
   }
  #editAndDelBtns{
    display: inline-flex;
    margin-top: 10px;
    
  }

  .delete-project-btn{
    margin-left: 5px;
   
  }

  .edit-project-btn{
    width: 65px;
  }

  .navStyles{
    font-size: 18px;
    color: black;
    text-align: center;
  }


  .project{
    margin: auto;
    width: 90%;
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.932);
  }

  .textDecNone{
    text-decoration: none;
    color: black;
    transition: .3s ease
  }
  .textDecNone:hover{
    color: #FE9F00;
  }

  .icon{
    transition: .3s ease;
  }
  .icon:hover{
    color: #FE9F00;
    cursor: pointer;
  }

  .single-project-section{
    border: 1px solid black;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 10px;
    background-color:#F7DFB8;
  }

  .commentsAndDonations {
    display: flex;
    justify-content: center;
  }

  .commentSection {
    margin-right: 20px;
    margin-top: 10px;
    width: 50%;
  }

  .comments {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #F7DFB8;
    font-size: 16px;
    padding: 15px;
    word-wrap: break-word;
  }

  .donationsSection {
    margin-left: 20px;
    width: 30%;
  }

  .list{
    /* width: 50%; */
    /* height: 5%; */
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #F7DFB8;
    font-size: 25px;
    padding: 20px;
    font-weight: bolder;
    word-wrap: break-word;
  }
  .image-container {
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
  }
  
  .image-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .button-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 2rem;
  }

  .login-container{
    width: 80%;
    height: 350px;
    border: 1px solid black;
    margin-top: 3rem;
  }
  .login-form{
       /* background-color: #21ba45; */
       display: flex;
       height: 250px;
       flex-direction: column;
       gap: 30px;
       width: 80%;
       justify-content: center;
  }
  .login-btn{
    background-color:#FE9F00 !important ;
  }

  .newProject{
    /* background-color: darkblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newProject_form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #F7DFB8;
  }
  textarea{
    width: 80%;
  }
  .fundingGoal{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
  }

  #fundingGoalBar{
    width: 100%;
  }

  .profileSection{
    border: black 3px solid;
    margin-bottom: 30px;
    align-content: center;
    background-color: #F7DFB8;
    margin: auto;
    width: 50%;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 20px;
  }

  #editProfileContainer{
    background-color: #F7DFB8;
    border: 1px solid black;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }

  .editProfileSections{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .editProfileSectionTitles{
    text-align: center;
    font-weight: bolder;
    font-size: 110%;
  }

  .editProfileTextboxes{
    margin-left: auto;
    margin-right: auto;
  }

  
  @media only screen and (min-width: 330px) {
    .navbarImage {
      margin-left: 1%;
    }  
    .navbarItems {
      margin-right: 2%;
    }
    .homepageTitle {
      font-size: 33px;
      margin-right: 2%;
    }  
    .newProject_form {
      width: 85%;
    }
    #projectCard{
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-row-gap: 0;
    }
    .project{
      width: 95%;
    }
    .single-project-section{
      width: 100%;
    }
    .list{
      font-size: 20px;
    }
    .profileSection{
      width: 95%;
      padding: 1.5rem;
    }
    .textarea{
      width: 95%;
    }

    .commentsAndDonations {
      display: inline-block;
      /* justify-content: center; */
      align-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .commentSection {
      /* margin-right: 20px; */
      margin-top: 10px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .comments {
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 10px;
      background-color: #F7DFB8;
      font-size: 15px;
      padding: 15px;
    }
  
    .donationsSection {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

  }
  @media only screen and (min-width: 768px) {
    .navbarImage {
      margin-left: 3%;
    }  
    .navbarItems {
      margin-right: 3%;
    }
    .image-container {
      width: 100%;
      height: 350px;
      position: relative;
    margin-bottom: 5px;
    }
  
    .image-container img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .login-container{
      width: 40%;
    }
    #projectCard{
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;
      margin-left: auto;
      margin-right: auto;
      width: 98%;
    }
    .project{
      width: 90%;
    }
    .single-project-section{
      width: 80%;
    }
    /* .list{
      width: 70%;
    } */
    .profileSection{
      width: 75%;
      padding: 1.5rem;
    }
    .textarea{
      width: 80%;
    }
  }

  @media only screen and (min-width: 820px) {
    #projectCard{
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }
    .commentsAndDonations {
      display: flex;
      justify-content: center;
    }
  
    .commentSection {
      margin-right: 20px;
      margin-top: 10px;
      width: 50%;
    }
  
    .comments {
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 10px;
      background-color: #F7DFB8;
      font-size: 16px;
      padding: 15px;
    }
  
    .donationsSection {
      margin-left: 20px;
      width: 30%;
    }
  
    .list{
      /* width: 50%; */
      /* height: 5%; */
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 10px;
      background-color: #F7DFB8;
      font-size: 25px;
      padding: 20px;
      font-weight: bolder;
      
    }
  }

  @media only screen and (min-width: 1150px) {
    .image-container {
      width: 100%;
      height: 500px;
      position: relative;
      margin-bottom: 5px;

    }
  
    .image-container img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .login-container{
      width: 30%;
    }

    #projectCard{
      grid-template-rows: auto auto auto;
      grid-template-columns: auto auto auto;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }
    .single-project-section{
      width: 60%;
    }
    /* .list{
      width: 50%;
    } */
    .profileSection{
      width: 60%;
      padding: 2rem;
    }
    .newProject{
      width: 55%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (min-width: 1480px) {
    #projectCard{
      grid-template-rows: auto auto auto;
      grid-template-columns: auto auto auto auto;
      margin-left: auto;
      margin-right: auto;
      width: 98%;
      grid-row-gap: 30px;
    }
    /* .list{
      width: 35%;
    } */
    .profileSection{
      width: 50%;
    }
  }

  @media only screen and (min-width: 2500px) {
    #projectCard{
      grid-template-rows: auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
    }
  }

  @media only screen and (min-width: 3000px) {
    #projectCard{
      grid-template-rows: auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto;
    }
  }